<div class="flex justify-content:center" style="margin: 2% 0px">
  <div [ngClass]="{ pickBg: true }" style="overflow: hidden">
    <div class="chat">
      <p class="gray">{{langue=='Anglais'?'Game mode available':'Modes de jeu disponibles'}} : {{ nbModes }}</p>
      <p class="gray">{{langue=='Anglais'?'Total game played':'Nombre total de games jouées'}} : {{ nbGames }}</p>
      <p class="gray">{{langue=='Anglais'?'GameMaster joined the lobby':'GameMaster à rejoint le salon'}}</p>
      <p>
        <span class="yellow">GameMaster </span> {{langue=='Anglais'?'Share it with your friends':'N\'hésitez pas à faire des retours ou à partager ce jeu à des amis qui
        pourraient apprécier'}} :)
      </p>
      <p>
        <span class="yellow">GameMaster </span> {{langue=='Anglais'?'Little advice : You can write gp for Gangplank..':'Petit tips : Gangplank peut s\'écrire gp.. qui d\'autre pourrait s\'écrire
        autrement..?'}}
      </p>
      <p>
        <span class="yellow">Honor </span> {{bestoverall}}
      </p>
    </div>
    <div
      style="position: absolute;right: 0px;bottom: -10px;box-shadow: 1px 1px 30px black;padding: 5px;padding-bottom: 100px;">
      <p style="margin-bottom:10px;opacity:0.6">Paliers :</p>
      <div>
        <div style="display:flex;">
          <div *ngFor="let palier of paliersshow;let i=index">
            <ng-container *ngIf="i<5">
              <div class="flex" style="width:70px;justify-content:left">
                <img src="./assets/elos/{{ i }}.png" style="width:30px;height:30px;padding-right:5px;" />
                <p style="opacity:0.6;top:5px">{{palier}}s</p>
              </div>
            </ng-container>
          </div>
        </div>
        <div style="display:flex">
          <div *ngFor="let palier of paliersshow;let i=index">
            <ng-container *ngIf="i>4">
              <div class="flex" style="width:70px;justify-content:left">
                <img src="./assets/elos/{{ i }}.png" style="width:30px;height:30px;padding-right:5px;" />
                <p style="opacity:0.6;top:5px">{{palier}}{{i < 9?"s":""}}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <img src="./assets/centerRotate.png" class="rotate2"
      style="position: absolute; width: 750px; height: 750px; left: 345px" />
    <img src="./assets/topFond.png" style="top: 0px; left: 384px; position: absolute; width: 674px" />
    <img src="./assets/botFond.png" style="bottom: -2px; width: 700px; left: 378px; position: absolute" />

    <!-- CLASSEMENTS PAGE D ACCUEIL -->
    <div *ngIf="page == 'start'">
      <div class="classementJoueur" *ngFor="let score of classement; let i = index" [style.left]="getLeft(i, 3)"
        [style.top]="getTop(i, 3)" style="display: flex">

        <ng-container *ngIf="i < 10">
          <div *ngIf="nomJoueur==score.pseudo&&i>4" [class]="'linear-' + (i < 8 ? i : 8)" style="width: 340px;
            position: absolute;
            height: 88px;
            left: -40px;
            top: 0px;
            
            opacity: 0.3;z-index:9"></div>
          <div *ngIf="i > 4">

            <div [class]="'classement-' + (i < 8 ? i : 8)" style="width: 200px; right: 15px;top:2px;">

              <p style="text-align: right;font-size:20px" (click)="nomJoueur=score.pseudo" class="clickableText">
                ( {{ score.score }} LP ) {{ score.pseudo }}
              </p>
              <p class="state" [style.background-color]="score.actif ? 'green' : '#bb303050'"
                style="left: 203px;text-decoration:unset!important;top:-17px">
                &nbsp;
              </p>

              <div style="right: -5px;top:-12px">
                <div style="display:flex;justify-content:right;">
                  <ng-container *ngFor="let class of score.ranks;let j=index">
                    <div *ngIf="class>0&&j<5" (click)="clickRank(score.pseudo,j)" class="flex clickableDiv"
                      style="width:45px;">
                      <p class="clickableText" style="text-align: left;top:5px">
                        {{ class }}x
                      </p>
                      <img src="./assets/elos/{{j}}.png" style="width:26px;height:26px;" />
                    </div>
                  </ng-container>

                </div>

                <div style="display:flex;justify-content:right; ">
                  <ng-container *ngFor="let class of score.ranks;let j=index">
                    <div *ngIf="class>0&&j>4" (click)="clickRank(score.pseudo,j)" class="flex clickableDiv"
                      style="width:45px;">
                      <p style="text-align: left;top:5px">
                        {{ class }}x
                      </p>
                      <img src="./assets/elos/{{j}}.png" style="width:26px;height:26px;" />
                    </div>

                  </ng-container>

                </div>
              </div>

              <div *ngIf="score.nbgame&&score.nbgame<nbModes"
                style="position: absolute;right: -15px;top: 70px;opacity:0.6;">
                <p style="white-space: nowrap;" (click)="clickModeRestant(score.pseudo)" class="clickableText">
                  {{ nbModes-score.nbgame }} {{langue=='Anglais'?'game mode left':'modes restants'}}
                </p>
              </div>
            </div>
          </div>
          <img src="./assets/elos/{{ i < 8 ? i : 8 }}.png" [style.width]="i < 5 ? '90px' : '100px'"
            [style.top]="i>4?'-10px':'unset'" [style.right]="i>4?'0px':'unset'"
            [style.position]="i>4?'absolute':'relative'" />
          <div *ngIf="nomJoueur==score.pseudo&&i<5" [class]="'linear-' + (i < 8 ? i : 8)" style="width: 348px;
          
            position: absolute;
            height: 89px;
            left: -18px;
            top: 5px;
            opacity: 0.5;z-index:9"></div>
          <div *ngIf="i < 5">

            <p class="state" [style.background-color]="score.actif ? 'green' : '#bb303050'"
              style="top: 12px;text-decoration:unset!important">
              &nbsp;
            </p>
            <div [class]="'classement-' + (i < 8 ? i : 8)" style="top: -5px; left: 15px">
              <p style="text-align: left;font-size:20px;" (click)="nomJoueur=score.pseudo" class="clickableText">
                {{ score.pseudo }} ( {{ score.score }} LP )
              </p>
              <p style="text-align: left; left: -15px">

              </p>

              <div style="left: -5px;">
                <div style="display:flex;justify-content:left;">
                  <ng-container *ngFor="let class of score.ranks;let j=index">
                    <div *ngIf="class>0&&j<5" (click)="clickRank(score.pseudo,j)" class="flex clickableDiv"
                      style="width:45px;">
                      <p class="clickableText" style="text-align: left;top:5px">
                        {{ class }}x
                      </p>
                      <img src="./assets/elos/{{j}}.png" style="width:26px;height:26px;" />
                    </div>
                  </ng-container>

                </div>

                <div style="display:flex;justify-content:left; ">
                  <ng-container *ngFor="let class of score.ranks;let j=index">
                    <div *ngIf="class>0&&j>4" (click)="clickRank(score.pseudo,j)" class="flex clickableDiv"
                      style="width:45px;">
                      <p style="text-align: left;top:5px">
                        {{ class }}x
                      </p>
                      <img src="./assets/elos/{{j}}.png" style="width:26px;height:26px;" />
                    </div>

                  </ng-container>

                </div>
              </div>



              <div *ngIf="score.nbgame&&score.nbgame<nbModes"
                style="opacity:0.6;position: absolute;left: -15px;top: 70px;">
                <p style="white-space: nowrap;" (click)="clickModeRestant(score.pseudo)" class="clickableText">
                  {{ nbModes-score.nbgame }} {{langue=='Anglais'?'game mode left':'modes restants'}}
                </p>
              </div>

            </div>

          </div>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="page == 'jeu'">
      <ng-container *ngFor="let perso of randomChamps; let i = index">
        <div *ngIf="i < nbFound" style="position: absolute; display: flex; width: 300px"
          [style.justify-content]="getJustify(i)" [style.top]="getTop(i, 1)" [style.left]="getLeft(i, 1)">
          <div *ngIf="i > 4" class="textPick textPickLeft">
            <p *ngIf="passed[i]" style="position: absolute;top: -25px;font-size: 20px;width: fit-content;">PASSED</p>
            <p style="color: rgb(209, 209, 199); right: 15px">
              {{ smallFormat(perso.nom) | uppercase }}
            </p>
            <p style="color: rgb(209, 209, 199); right: 15px">
              {{ classement[i] ? classement[i].pseudo : creatures[i] }}
            </p>
            <p *ngIf="checkpoints[i] && actualData" style="color: white">
              {{ checkpoints[i] }}s
              <span [style.color]="
                  actualData.checkpoints[i] - checkpoints[i] > 0
                    ? 'green'
                    : 'red'
                ">({{ actualData.checkpoints[i] - checkpoints[i] > 0 ? "+" : ""
                }}{{
                actualData.checkpoints[i] - checkpoints[i] | number : "1.1-1"
                }})</span>
            </p>
            <p *ngIf="checkpoints[i] && !actualData" style="color: white">
              {{ checkpoints[i] }}s
            </p>
          </div>

          <div style="border-radius: 100%;overflow:hidden;width:64px;height:64px;" [ngClass]="{clickableChamp:end}"
            (click)="playSound(i)">
            <p *ngIf="end" style="position: absolute;
            z-index: 11;
            left: 5px;
            top: 5px;
            font-size: 40px;
            opacity: 0.6;">🔊</p>
            <img src="./assets/imgs/{{ perso.nom }}.png" style="width: 75px;top:-5px;left:-5px" />
          </div>
          <div *ngIf="i < 5" class="textPick textPickRight">
            <p *ngIf="passed[i]" style="position: absolute;top: -25px;font-size: 20px;width: fit-content;">PASSED</p>
            <p style="color: rgb(209, 209, 199); left: 15px">
              {{ smallFormat(perso.nom) | uppercase }}
            </p>
            <p style="color: rgb(209, 209, 199); left: 15px">
              {{ classement[i] ? classement[i].pseudo : creatures[i] }}
            </p>
            <p *ngIf="checkpoints[i] && actualData" style="color: white">
              <span [style.color]="
                  actualData.checkpoints[i] - checkpoints[i] > 0
                    ? 'green'
                    : 'red'
                ">({{ actualData.checkpoints[i] - checkpoints[i] > 0 ? "+" : ""
                }}{{
                actualData.checkpoints[i] - checkpoints[i] | number : "1.1-1"
                }})</span>
              {{ checkpoints[i] }}s
            </p>
            <p *ngIf="checkpoints[i] && !actualData" style="color: white">
              {{ checkpoints[i] }}s
            </p>
          </div>
        </div>

        <div *ngIf="i == nbFound" style="position: absolute; display: flex; width: 300px"
          [style.justify-content]="getJustify(i)" [style.top]="getTop(i, 2)" [style.left]="getLeft(i, 2)">
          <div *ngIf="i==nbFound&&i>4" style="width: 420px;
            position: absolute;
            height: 89px;
            left: -100px;
            top: -8px;
            background: linear-gradient(to left, rgb(140,20,20),rgb(8,15,20) 70%);
            opacity: 0.2;z-index:9"></div>
          <div *ngIf="i > 4" class="textPick textPickLeft">
            <img src="./assets/actual2.png" style="
                position: absolute;
                right: -100px;
                top: -27px;
                height: 90px;
              " />
            <p>Picking...</p>
            <p>{{ pick_fr[i] ? pick_fr[i].pseudo : creatures[i] }}</p>
          </div>

          <img src="./assets/loading{{ i < 5 ? '' : '2' }}.png" class="rotate" style="width: 72px; height: 72px" />

          <div *ngIf="i==nbFound&&i<5" style="width: 420px;
            position: absolute;
            height: 89px;
            left: -19px;
            top: -8px;
            background: linear-gradient(to right, rgb(209, 209, 199),rgb(8,15,20) 70%);
            opacity: 0.2;z-index:9"></div>
          <div *ngIf="i < 5" class="textPick textPickRight">
            <img src="./assets/actual.png" style="position: absolute; left: -100px; top: -27px; height: 90px" />
            <p>Picking...</p>
            <p>{{ pick_fr[i] ? pick_fr[i].pseudo : creatures[i] }}</p>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div style="margin-top: 140px; width: fit-content; margin-left: 410px;width:580px">
      <div style=" 
      position: absolute;
      display:flex;
      justify-content: center;
      top: -155px;
      width: 100%;
      font-size: 35px;
      white-space: nowrap;">
        <p *ngIf="!isNumber(topTxt)"
          [style.color]="invalidName()&&typeGame!='Général' ? '#772323' : 'rgb(209, 209, 199)'">
          {{ topTxt }}
        </p>
        <div class="flex" *ngIf="isNumber(topTxt)">
          <img src="./assets/elos/{{ topTxt }}.png" style="width:100px;height:100px;" />
          <div style="width:130px"></div>
          <img src="./assets/elos/{{ topTxt }}.png" style="width:100px;height:100px;" />
        </div>
      </div>

      <div *ngIf="page == 'pause' || page == 'jeu'">
        <div style="width: fit-content; margin: auto; position: relative">
          <p style="
              text-align: center;
              font-size: 60px;
              position: absolute;
              width: 100%;
              top: -120px;
            " [style.color]="getColor()">
            {{ (page == "jeu" ? timer : timer2) | number : "1.1-1" }}
          </p>
          <div [ngClass]="{ paused: page == 'pause' }">
            <div style="position:absolute;top:-15px;opacity:0.3;left:20px" *ngIf="!end">
              <div class="flex">
                <p>Ctrl</p>
                <p style="left:305px">Entrée</p>
              </div>
              <div class="flex" style="top:72px;left:180px">
                <p>Tab (-10s)</p>
                <p style="left:55px;">{{langue=='Anglais'?'Escape':'Echap'}}</p>
              </div>
            </div>
            <div style="display: flex; justify-content: center" *ngIf="!end">
              <button (click)="play()" [ngClass]="{
                  disabled: audios[nbFound] && audios[nbFound].currentTime < 0.4
                }" [disabled]="audios[nbFound] && audios[nbFound].currentTime < 0.4">
                🔊
              </button>
              <input id="typeBar" type="text" [(ngModel)]="typing" tabindex="-1"
                style="margin-right: 20px; margin-left: 20px" (keydown.enter)="validate()" focus="true" autofocus />
              <button (click)="validate()">Ok</button>
            </div>
            <div style="display: flex; justify-content: center">
              <button (click)="clickMenu()">{{langue=='Anglais'?'Main menu':'Menu principal'}}</button>
              <button *ngIf="!end" (click)="passer()">{{langue=='Anglais'?'Skip':'Passer'}}</button>
              <button (click)="clickReplay()">{{langue=='Anglais'?'Play again':'Rejouer'}}</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="page == 'start'">
        <div style="display:flex;justify-content: center;position:absolute;top:-15px;opacity:0.3;left:60px">
          <p>{{langue=='Anglais'?'Chosen name':'Pseudo désiré'}}</p>
          <p style="margin-left:62px;">{{langue=='Anglais'?'Game type':'Type de jeu'}}</p>
          <p style="margin-left:70px;">{{langue=='Anglais'?'Game mode':'Mode'}}</p>
        </div>
        <div style="display: flex; justify-content: center">
          <input style="width:130px;" type="text" [(ngModel)]="nomJoueur" (ngModelChange)="changeNom('')"
            placeholder="Rentrez un pseudo.." />
          <select [(ngModel)]="typeGame" (ngModelChange)="changeData()">
            <option>Général</option>
            <option>Pick</option>
            <option>Ban</option>
            <option>Joke</option>
            <option>Rire</option>
            <option>Taunt</option>
            <option>Compétences</option>
          </select>

          <select [(ngModel)]="specificTypeGame" (ngModelChange)="changeSpecificData()" [disabled]="typeGame=='Général'"
            [ngClass]="{disabled:typeGame=='Général'}">

            <ng-container
              *ngIf="typeGame=='Pick'||typeGame=='Ban'||typeGame=='Rire'||typeGame=='Joke'||typeGame=='Taunt'">
              <option>Français</option>
              <option>Anglais</option>
            </ng-container>

            <ng-container *ngIf="typeGame=='Compétences'">
              <option>Toutes</option>
              <option>Attaque</option>
              <option>Sort A</option>
              <option>Sort Z</option>
              <option>Sort E</option>
              <option>Sort R</option>
            </ng-container>

          </select>
          <button (click)="clickStart()" [ngClass]="{ disabledButton: invalidName() || typeGame=='Général' }" [disabled]="invalidName() || typeGame=='Général'">
            Jouer
          </button>
        </div>

        <div style="display: flex; justify-content: center; margin-top: 20px" *ngIf="typeGame!='Général'">
          <div>
            <div style="opacity: 0.5">
              <p>Raccourcis</p>
              <div style="display: flex; justify-content: space-between">
                <p>Control : Rejouer son</p>
                <p>Tab : Passer</p>
              </div>
              <div style="display: flex; justify-content: space-between">
                <p>Echap : Rejouer</p>
                <p>&nbsp;</p>
              </div>
            </div>

            <p>
              Vous pouvez directement selectionner votre ligne dans le tableau
              des scores
            </p>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px; display: flex; justify-content: center" *ngIf="typeGame!='Général'">
        <div [style.max-height]="page == 'start' ? '300px' : '380px'" class="tabScore">
          <div class="ligne" style="opacity: 1 !important; background-color: '#00000080'">
            <p style="display: none"></p>
            <p>Rang</p>
            <p style="padding: 0px; border: none"></p>
            <p>Pseudo</p>
            <p>{{ (data[0]?(data[0].type +" "+data[0].langue):" ") | titlecase }}</p>
            <p *ngIf="false">Essais</p>
            <p>Derniere partie</p>
            <p>Mode</p>
          </div>
          <div>
            <div class="ligne rank" *ngFor="let score of data; let i = index"
              (click)="page == 'start' ? changeNom(score.pseudo) : null"
              [ngClass]="{ selected: nomJoueur == score.pseudo,  grised:!score.lastgametext.includes('instant')&&!score.lastgametext.includes('heures')&&!score.lastgametext.includes('minutes')}">
              <img src="./assets/elos/{{ getRang(score) }}.png" class="elo" />
              <p>&nbsp;</p>
              <p class="state" [style.background-color]="data[i].actif ? 'green' : '#bb303050'">
                &nbsp;
              </p>
              <p>{{ score.pseudo }}</p>
              <p>{{ score.temps }}</p>
              <p *ngIf="false">{{ score.nbgame }}</p>
              <p style="text-align:right">{{ score.lastgametext
                }}
              </p>
              <p>{{score.typelastgame | titlecase}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" (mouseleave)="focusTab=-1"
        style="max-width:800px;margin-top: 20px; display: flex; justify-content: center;position:absolute;left:-85px"
        *ngIf="typeGame=='Général'">
        <div class="tabScore2">
          <div class="ligne" style="opacity: 1 !important; background-color: '#00000080';">
            <div>
              <p>Place</p>
            </div>
            <div>
              <p>Derniere Partie</p>
            </div>
            <div>
              <p>Mode</p>
            </div>
            <div>
              <p>Elo</p>
            </div>
            <div>
              <p>Score</p>
            </div>
            <div>
              <p>Pseudo</p>
            </div>
            <div *ngFor="let mode of modes; let i=index" class="clickableDiv" [ngClass]="{hoveredDiv:i==focusTab}"
              (mouseover)="focusTab=-1" (click)="goToMode(i)">
              <p>{{mode}}</p>
            </div>
          </div>
          <div>
            <div class="ligne rank" *ngFor="let score of classement; let i = index" (mouseover)="focusLigne=i"
              [ngClass]="{ selected: nomJoueur == score.pseudo,  grised:!score.lastgame.includes('instant')&&!score.lastgame.includes('heures')&&!score.lastgame.includes('minutes')}">
              <div class="dergame">
                <p>{{(i+1)}}</p>
              </div>
              <div class="dergame clickableDiv" (click)="nomJoueur=score.pseudo">
                <p style="text-align:left;left:5px">{{score.lastgame}}</p>
              </div>
              <div class="dergame clickableDiv" (click)="nomJoueur=score.pseudo">
                <p>{{score.typelastgame}}</p>
              </div>

              <div class="clickableDiv" (click)="nomJoueur=score.pseudo">
                <img src="./assets/elos/{{i<8?i:8}}.png"
                  style="width:22px;height:22px;position:absolute;left:4px;top:-3px" />
              </div>

              <div class="dergame">
                <p>{{score.score}}</p>
              </div>

              <div class="clickableDiv pseudotab" (mouseover)="focusTab=-1" (click)="nomJoueur=score.pseudo"
                style="overflow:hidden;">
                <span class="statex" [style.background-color]="score.actif ? 'green' : '#bb303050'" style="top:3px">
                  &nbsp;
                </span>
                <p style="text-align:left;left:15px;white-space:nowrap">{{score.pseudo}}</p>
              </div>

              <div *ngFor="let temps of score.scores; let j=index" class="clickableCase" [ngClass]="{empty:temps==' '}"
                (mouseover)="focusTab=j" (click)="nomJoueur=score.pseudo;goToMode(j)">
                <p *ngIf="focusLigne!=i">{{temps==" "?"&nbsp;":temps}}</p>
                <img *ngIf="focusLigne==i&&score.scoresranks[j]!='-1'"
                  src="./assets/elos/{{ score.scoresranks[j] }}.png"
                  style="width:22px;height:22px;position:absolute;left:8px;top:-3px" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>